  <div *ngIf="workout" class="container my-4">
    <div class="card mb-4 shadow-sm mx-auto" style="max-width: 800px;">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title mb-2 text-primary">{{ workout.name }}</h5>
        </div>
  
        <div class="text-end">
          <p class="mb-0 text-muted">
            <small><strong>Completed At:</strong> {{ workout.completedAt | date:'short' }}</small>
          </p>
          <p><strong>Time taken:</strong> {{ workout.duration }} sec</p>
        </div>
      </div>
  
      <div class="accordion" id="accordion{{ workout.id }}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ workout.id }}">
            <button class="accordion-button" type="button" (click)="toggleCollapse(workout.id)">
              View Exercises
            </button>
          </h2>
          <div [ngClass]="{ 'collapse': !isCollapsed(workout.id), 'show': isCollapsed(workout.id) }" class="accordion-collapse">
            <div class="accordion-body">
              <div class="list-group">
                <div *ngFor="let exercise of workout.exercises">
                  <div class="list-group-item">
                    <h5>{{ exercise.name }}</h5>
                    <p><strong>Reps:</strong> {{ exercise.reps }}</p>
                    <div class="text-center my-2">
                      <i class="bi bi-chevron-down"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  